<div class="col">
    <div class="card"  style="max-width: 18rem;">
        <img src="../../assets/images/exampleproduct.jpg" class="card-img-top" alt={{item.id}}>
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>           
            <div class="row">
                <div>Price: {{item.price}}$</div>
            </div>
        </div>
        <div class="card-body">       
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
