/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body{
    background-color: #171717;
    color: #e6e6e6;
}
a{
    color: #75b6e7;
}
